<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boredom Buster's Choice Board</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
    <script src="{% static 'script.js' %}"></script>
</head>
<body>
    <div id="choiceboard_container">
        <div class="choiceBoardHeader">
            <h1 id="choiceBoard_heading">Welcome to the Boredom Busters Choice Board!</h1>
            <a id="choiceBoardButton1" href="/admin_edits">Back to Edit</a>
            <a id="choiceBoardButton2" href="/logout">Logout</a>
        </div>
        <div class="choice_board">
            <table>
                <tr>
                {% for activity in activities %}
                
                <td id="{{forloop.counter}}">
                <p id="activityOnChoiceBoard">{{activity.item}}</p>
                <p id="pointsOnChoiceBoard">{{activity.points}} points</p>
                <a class="buttonOnChoiceBoard" href="/completed_activity/{{activity.id}}">Click to Complete</a>
                {% cycle '' '' '</td></tr><tr>' %}
                {% endfor %}
                </tr>
            </table>
        </div>
        <div class="points_earned_needed">
            <h1 class="points_headings">Points Earned:</h1><br>
            <h2 class="point_values">{{request.session.points_earned}}</h2>
            <h1 class="points_headings">Points Needed:</h1>
            <h2 class="point_values">{{request.session.sum}}</h2>

            <h1 class="points_headings">Reward:</h1>
            <h2 id="reward_description">{{my_reward}}</h2>
        </div>
    </div>
</body>
</html>