<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boredom Buster Choice Board</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'script.js' %}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
</head>

<body id="login_page">
    <h1 id="login_reg_heading">Boredom Busters!</h1>
    <div class="login_reg_container">
        <h1>Parent Login</h1>
        <form action="/login" method="POST">
            {% csrf_token %}
            <p><input id="login_reg_text" type="text" name="email" placeholder="Email"></p>
            <p><input id="login_reg_text" type="password" name="password" placeholder="Password"></p>
            <button id="login_button" type="submit">Login</button>
        </form>
        <h5>Don't have an account? <a href="/register_user">Register</a></h5>
    </div>
</body>

</html>