<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'script.js' %}"></script>
</head>
<body>
    <h1>Register</h1>
    <form action="/register" method="POST">
        {% csrf_token %}
        <p><input type="text" name="name" placeholder="Name"></p>
        <p><input type="text" name="email" placeholder="Email"></p>
        <p><input type="password" name="password" placeholder="Password"></p>
        <p><input type="password" name="confpw" placeholder="Confirm Password"></p>
        <input type="submit" value="Register">
    </form>
</body>
</html>