/* * {
    border: 1px dotted pink;
} */

/* CSS below this line appear on the index.html page */

#login_page {
    background-image: url(https://cdn1.vectorstock.com/i/1000x1000/85/40/set-of-four-aces-deck-of-cards-vector-20058540.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#login_page h3 {
    font-family: 'Patrick Hand', cursive;
    text-align: center;
}

.login_reg_container {
    font-family: 'Patrick Hand', cursive;
    text-align: center;
    border-radius: 15px;
    margin: 50px 450px 50px 450px;
    /* max-width: 500px; */
    opacity: 1;
    background-color: rgba(235, 233, 233, 0.527);
}

    #login_reg_heading {
        font-family: 'Patrick Hand', cursive;
        font-size: 100px;
        text-align: center;
        margin-bottom: 5px;
    }

    h5 {
        font-family: 'Patrick Hand', cursive;
        padding-bottom: 50px;
    }

/* CSS below this line appear on the register_user.html page */

#login_reg_text {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type=submit] {
    width: 40%;
    background-color: royalblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type=submit]:hover {
    background-color: #0021A5;
}

/* CSS below this line appear on the admin_edits.html page */

.admin_edits_container {
    background-image: url(https://www.publicdomainpictures.net/pictures/170000/velka/chess-pieces-1463642616t89.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    width: 1200px;
    margin: auto;
}

#admin_edits_header {
    font-family: 'Patrick Hand', cursive;
    display: inline-block;
}

.instructions_h2_p {
    font-family: 'Patrick Hand', cursive;
    padding-right: 300px;
}

#admin_edits_logout_button {
    font-family: 'Patrick Hand', cursive;
    margin-left: 265px;
    margin-bottom: 5px;
    background-color: rgb(7, 0, 100);
    border-radius: 15px;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.activities_form {
    font-family: 'Patrick Hand', cursive;
    display: inline-block;
    text-align: center;
    margin: 0px 0px 0px 0px;
    width: 375px;
    height: 300px;
    padding: 25px;
}

.activities_form input {
    font-family: 'Patrick Hand', cursive;
    background-color: white;
    border-radius: 5px;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#add_activity_text {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#admin_edits_board_button {
    font-family: 'Patrick Hand', cursive;
    margin-left: 120px;
    margin-top: 10px;
    background-color: rgb(7, 0, 100);
    border-radius: 15px;
    border-color: black 2px solid;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.table_activities_div {
    font-family: 'Patrick Hand', cursive;
    background-color: rgba(235, 233, 233, 0.432);
    display: inline-block;
    margin: 25px 0px 0px 0px;
    width: 390px;
    padding: 0px 0px 25px 25px;
}

#table_activities {
    font-family: 'Patrick Hand', cursive;
    vertical-align: top;
    display: inline-block;
    border-collapse: collapse;
    width: 400px;
}

    th, tr {
        padding: 13px 8px 8px 0px;
        text-align: left;
        border-bottom: 1px solid rgb(235, 233, 233);
    }

    td:hover {
        background-color: #777b8886;
        color: white;
    }


.enter_reward_section {
    font-family: 'Patrick Hand', cursive;
    width: 870px;
    margin-left: 25px;
    margin-top: 10px;
    border-radius: 15px;
    border-color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.enter_reward_section input {
    font-family: 'Patrick Hand', cursive;
    width: 40%;
    text-align: center;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* CSS below this line appear on the choiceBoard.html page */

#choiceboard_container {
    background-image: url(https://storage.needpix.com/rsynced_images/ice-cream-2360321_1280.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    margin: auto;
}

.choiceBoardHeader {
    font-family: 'Patrick Hand', cursive;
    width: 1185px;
    padding-top: 10px;
    color: white;
}

#choiceBoard_heading  {
    font-family: 'Patrick Hand', cursive;
    width: 800px;
    display: inline-block;
    text-align: center;
}

#choiceBoardButton1 {
    font-family: 'Patrick Hand', cursive;
    background-color: white;
    border-radius: 5px;
    color: #FA4616;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#choiceBoardButton2 {
    font-family: 'Patrick Hand', cursive;
    background-color: white;
    border-radius: 5px;
    color: #FA4616;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.points_headings {
    font-family: 'Patrick Hand', cursive;
    display: inline-block;
    vertical-align: top;
}

.choice_board {
    font-family: 'Patrick Hand', cursive;
    width: 760px;
    height: 760px;
    font-size: x-large;
    display: inline-block;
}

    .choice_board tr td {
        width: 247px;
        height: 247px;
        border-style: solid;
        border-width: 3px;
        border-color: #0021A5;
    }

    .choice_board img {
        image-rendering: 50px;
    } 

#activityOnChoiceBoard {
    font-family: 'Patrick Hand', cursive;
    text-align: center;
}

#pointsOnChoiceBoard {
    text-align: center;
}

.buttonOnChoiceBoard {
    margin-left: 77px;
    margin-top: 10px;
    background-color: #0021A5;
    border-radius: 15px;
    border-color: black 2px solid;
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.points_earned_needed {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin-left: 100px;
}

.points_headings {
    margin: auto;
    text-align: center;
}

.point_values {
    font-family: 'Patrick Hand', cursive;
    margin: auto;
    text-align: center;
}

#reward_description {
    font-family: 'Patrick Hand', cursive;
    background-color: rgba(235, 233, 233, 0.527);
    margin: auto;
    max-width: 250px;
}